.git
.github
.idea
.vscode
.lerd.yaml

vendor/*
!vendor/stashd/
vendor/stashd/*
!vendor/stashd/plugin-sdk/
!vendor/stashd/plugin-sdk/**
node_modules/
.tempest/
data/
media/
database/
rr
target/
reference/wasmtime/
.migration-*
.stashd/
.php-cs-fixer.cache

.env
.env.*
.phpunit.result.cache
composer.phar
