/vendor/
/node_modules/
/dist/
/auto-imports.d.ts
/components.d.ts
/.tempest/
/public/vite-tempest
/.env
/data/
/media/
/rr
/.idea/
.phpunit.result.cache
composer.phar
/test-results/
/target/
__pycache__/
/playwright-report/
/.env.lerd_override
/.pi-lens/
/.stashd/
